{% extends "base.html" %}


{% block content %}
    <section id="about">
        <div class="container-fluid">
            <h1>Acerca de...</h1>
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <h2>¿Qué es el PyCon?</h2>
                    <p>PyCon es el encuentro anual más grande de desarrolladores del lenguaje de programación Python que se realiza en diferentes países del mundo. Estos encuentros son desarrollados y llevados a cabo por las comunidades Python de cada país integrante. PyCon permite el acercamiento entre los diferentes desarrolladores con el propósito de compartir nuevas ideas, propuestas y experiencias a través de debates, charlas, tutoriales y mesas de trabajo.</p>
                </div>
            </div>

            <div class="row">

                <div class="col-md-offset-2 col-md-8">
                    <h2>Mesas de Trabajo y Tutoriales</h2>
                    <p>Dentro de las actividades desarrolladas en el PyCon, y como parte de integración con la comunidad desarrolladora del lenguaje de programación Python, se llevan a cabo pequeñas jornadas de mesas de trabajo o tutoriales con el fin de propagar nuevos conocimientos sobre este poderoso lenguaje. Estos tutoriales están dirigidos a un número limitado de participantes.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <h2>Conferencias</h2>

                    <p>Las charlas y conferencias son llevadas a cabo por personas voluntarias pertenecientes a la comunidad Python y que pretenden difundir conocimientos adquiridos, mostrar el uso de nuevas tecnologías o simplemente promover y fomentar el uso de este lenguaje de programación.</p>

                    <p>En estas conferencias es fácil encontrarse con charlas informativas e inspiradoras que permiten involucrarse con mayor entusiasmo en el desarrollo de nuevos proyectos en Python y facilitan establecer contactos y amigos entre los distintos asistentes. Por lo general, estas charlas suelen tener una duración de 40 minutos.</p>
                </div>
            </div>
    </section>
{% endblock content %}
